body {
  margin: 0;
  padding: 0 0 80px;
  font-family: sans-serif;
}
button,
input{
  font: inherit;
  padding: .5em;
}

.message { padding: .5em; }
.message + .message { border-top: 1px solid lightgray; }
.message > em {
  color: lightgray;
  margin: .5em;
}
.message > span {
  display: block;
  margin-top: .2em;
}

.form {
  background: white;
  border-top: 1px solid lightgray;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  left: 0;
  padding: 1em;
  position: fixed;
  width: 100%;
}
.form > input { flex: 1; }
